<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="Responsive Coming soon Template">
        <meta name="keywords" content="Coming soon template, Bootstrap template, Coming soon, Responsive coming soon Template, Under Construction, countdown , Mailchimp, Youtube Video">
        <meta name="author" content="traivan98">

        <title>Qiang's news page</title>

        <!-- favicon linke -->
        <link rel="icon" type="image/png" href="images/favicon.png" />


        <!-- ===============    animation core CSS     =============== -->
        <link rel="stylesheet" type="text/css" href="stylesheets/animate.min.css" media="all" />
        <!-- ===============    icon-moon core CSS     =============== -->
        <link rel="stylesheet" type="text/css" href="stylesheets/icon-moon.css" media="all" />
        <!-- ===============    Bootstrap core CSS     =============== -->
        <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css" media="all" />
        <!-- ===============    owl-carousel core CSS     =============== -->
        <link rel="stylesheet" type="text/css" href="stylesheets/owl.carousel.css" media="all" />
        <!-- ===============    reset core CSS     =============== -->
        <link rel="stylesheet" type="text/css" href="stylesheets/reset.css" media="all" />
        <!-- ===============    theme core CSS     =============== -->
        <link rel="stylesheet" type="text/css" href="stylesheets/theme.css" media="all" />
        <!-- ===============    os core CSS     =============== -->
        <link rel="stylesheet" type="text/css" href="stylesheets/theme-style/os-style.css" media="all" />
        <!-- ===============    dark core CSS     =============== -->
        <link rel="stylesheet" type="text/css" href="stylesheets/theme-style/dark.css" media="all" />
        <!-- ===============    extra core CSS     =============== -->
        <link rel="stylesheet" type="text/css" href="stylesheets/extra.css" media="all" />
        <!-- ===============    content color core CSS     =============== -->
        <link rel="stylesheet" type="text/css" href="stylesheets/content-color/green.css" media="all" />
        <!-- ===============    responsive core CSS     =============== -->
        <link rel="stylesheet" type="text/css" href="stylesheets/responsive.css" media="all" />


        <!-- ===============    Google fonts CSS     =============== -->
        <link href='http://fonts.googleapis.com/css?family=Raleway:600,700,900,400' rel='stylesheet' type='text/css'>

        <!-- Just for debugging purposes. Don't actually copy this line! -->
        <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>


        <!-- ===============    Start template markup     =============== -->
        
        <!-- preloader -->
        
        <div id="boss-preloader">
            <div class="boss-pre-vcenter text-center">
                <div id="boss-status">
                    <img src="images/logo-one.png" alt="traivan98 logo" class="img-responsive center-block">
                </div>
                <h4>Loading</h4>
                <div class="spinner">
                  <div class="bounce1"></div>
                  <div class="bounce2"></div>
                  <div class="bounce3"></div>
                </div>
            </div>
        </div>

        <!--/ preloader -->


<!--    home area section-->
        <section class="boss-home-area" id="boss-home" >
            <div class="boss-gradient"></div><!-- gradient image -->
            <!-- container -->
            <div class="container">
                <!-- boss-wrapper vertically center -->
                <div class="boss-wrapper">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="boss-logo wow fadeIn" data-wow-delay="1.5s">
                                <img src="images/logo.png" alt="traivan98 logo" class="img-responsive center-block" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-2 col-sm-8 text-center">
                            <div class="boss-header wow fadeInDown" data-wow-delay="2s">
                                <h1 id="title">My News Page</h1>
                                <p>This is a news page from Yuzhou Qiang. Just enjoy yourself and swim in the sea of news.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="boss-countdown wow fadeInLeft" data-wow-delay="3s" data-wow-offset="-100"></div>
                        </div>
                    </div>
                </div>
                <!--/ boss-wrapper vertically center -->
                <div class="boss-scroll-down hidden-xs wow fadeInDown"  data-wow-delay="4s" data-wow-offset="-100">
                    <a href="#service">
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </a>
                </div>
            </div>
            <!-- /.container -->
        </section>
<!--    / END home area section-->

        

        
        <!-- START service area -->
        <section class="boss-service-area" id="personality">
            <!-- container -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="boss-section-heading wow zoomIn" data-wow-delay="0.5">
                            <h2>Maybe you will like these:</h2>
                            <p>以下是您感兴趣的各个新闻栏目中最热门的内容：</p>
                            <div class="boss-header-border"></div>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-sm-6 text-center">
                        <div class="boss-single-service wow fadeInUp" data-wow-delay="1s">
                            <div class="boss-icon">
                            <img id="like1img" src="/images/null3.png"/>
                            </div>
                            <p id="like1p">该栏目为空！快去页面底部设置吧！</p>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center">
                        <div class="boss-single-service wow fadeInUp" data-wow-delay="1s">
                            <div class="boss-icon">
                               <img id="like2img" src="/images/null3.png"/>
                            </div>
                           <p id="like2p">该栏目为空！快去页面底部设置吧！</p>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-sm-6 text-center">
                        <div class="boss-single-service wow fadeInUp" data-wow-delay="1.3s">
                            <div class="boss-icon">
                                <img id="like3img" src="/images/null3.png"/>
                            </div>
                           <p id="like3p">该栏目为空！快去页面底部设置吧！</p>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center">
                        <div class="boss-single-service wow fadeInUp"  data-wow-delay="1.3s">
                            <div class="boss-icon">
                                <img id="like4img" src="/images/null3.png"/>
                            </div>
                            <p id="like4p">该栏目为空！快去页面底部设置吧！</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ container -->
        </section>
        <!--/ END service area -->

         <section class="boss-cta-area" id="boss-cta">
            <div class="boss-dark-overlay"></div>
            <!-- container -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="boss-header wow fadeInLeft">
                            <h1>即时新闻</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ container -->
        </section>

        <section class="boss-work-area" id="works">
            <!-- boss owl -->
            <div class="boss-owl wow fadeIn">
                <div class="boss-item">
                    <img src="http://p0.ifengimg.com/pmop/2017/0622/F0DB541DB654F6AFC9F25C0B0867DD6B3521833F_size20_w408_h273.jpeg" alt="boss slider">
                    <div class="boss-caption text-center">
                        <h3>腾讯NOW直播：不着急赚钱 内容生态更重要.</h2>
                    </div>
                </div>
                <div class="boss-item">
                    <img src="http://d.ifengimg.com/mw978_mh598/p2.ifengimg.com/a/2017_25/a0f26541007eff9_size73_w799_h708.jpg
" alt="boss slider">
                    <div class="boss-caption text-center">
                        <h3>施华洛世奇23岁女继承人结婚 婚纱镶50万颗水晶</h2>
                    </div>
                </div>
                <div class="boss-item">
                    <img src="http://p0.ifengimg.com/pmop/2017/0622/CCFADE6C5DC1575A12644C0F46E4479716A65254_size65_w740_h428.jpeg" alt="boss slider">
                    <div class="boss-caption text-center">
                        <h3>VR、5G、人工智能、无人机：英特尔要借奥运会加速前沿科技的普及</h2>
                    </div>
                </div>
                <div class="boss-item">
                    <img src="http://p2.ifengimg.com/fck/2017_25/d841621c5783a7f_w812_h549.png" alt="boss slider">
                    <div class="boss-caption text-center">
                        <h3>啥都不能留！上万卡塔尔骆驼绵羊被沙特驱逐出境</h2>
                    </div>
                </div>
                <div class="boss-item">
                    <img src="http://p0.ifengimg.com/fck/2017_25/e041382fc98111f_w800_h424.jpg" alt="boss slider">
                    <div class="boss-caption text-center">
                        <h3>雄安新区管理机构获中央批复 赵克志连夜主持座谈会</h2>
                    </div>
                </div>
            </div>
            <!--/ boss owl -->
        </section>

        <!-- START cta area -->

       


        <div id="position1"></div>
        <div id="position2"></div>
        <div id="position3"></div>
        <div id="position4"></div>
        <div id="position5"></div>
        <div id="position6"></div>
        <div id="position7"></div>
        <div id="position8"></div>
        <div id="position9"></div>

        <!--/ END cta area -->
        <!-- START work area -->

       

        <!--/ END work area -->
        <!-- START subscribe area -->

        <section class="boss-subscribe-area" id="subscribe">
            <div class="boss-dark-overlay"></div>
            <!-- container -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="boss-subscibe-left-side wow fadeInLeftBig">
                            <a href='/set'><h1>个性化设置</h1></a>
                            <h4>在这里你可以设置你喜欢的栏目，并在一开始 </h4>
                            <h4>得到最新消息。</h4>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <!--/ container -->
        </section>

        <!--/ END subscribe area -->
        <!-- START footer area -->

        <footer class="boss-footer-area">
            <!-- container -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="boss-copyright wow fadeInUp" data-wow-offset="50">
                            <img src="images/logo.png" alt="boss logo" class="img-responsive center-block">
                            <p>from<a href="" target="_blank">强宇周</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ container -->
        </footer>

        <!--/ END footer area -->



        <!-- ===============    /End template markup     =============== -->


        <!-- ===============    jQuery core JavaScript     =============== -->
        <script src="javascripts/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')</script>
        <!-- ===============    Bootstrap core JavaScript     =============== -->
        <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
        
        <!-- ===============    wow core JavaScript     =============== -->
        <script type="text/javascript" src="javascripts/wow.min.js"></script>
        
        <!-- ===============    backstretch core JavaScript     =============== -->
        <script type="text/javascript" src="javascripts/jquery.backstretch.min.js"></script>
        
        <!-- ===============    countdown core JavaScript     =============== -->
        <script type="text/javascript" src="javascripts/jquery.countdown.js"></script>
        
        <!-- ===============    nicescroll core JavaScript     =============== -->
        <script type="text/javascript" src="javascripts/jquery.nicescroll.min.js"></script>
        
        <!-- ===============    owl-carousel core JavaScript     =============== -->
        <script type="text/javascript" src="javascripts/owl.carousel.min.js"></script>

        <!-- ===============    ajaxchimp JavaScript Plugin    =============== -->
        <script type="text/javascript" src="javascripts/jquery.ajaxchimp.js"></script>
        <!-- ===============    ROW JavaScript Plugin    =============== -->
        <script type="text/javascript" src="javascripts/row-plugin.js"></script>

        <!-- ===============    Active core JavaScript     =============== -->
        <script type="text/javascript" src="javascripts/active.js"></script>
        <script type="text/javascript" src="javascripts/jquery.cookie.js"></script>
         <script type="text/javascript">
    // wow js active here
        new WOW().init({
            offset:       200   // distance to the element when triggering the animation (default is 0)
        });
    </script>
        <script type="text/javascript" src="javascripts/index.js"></script>




    
    </body>
</html>

